@media(max-width: 767.9px) {
  .tableTdBucketname {
      width: 15.5% !important
  }
  .tableTdBucketIcon{
    padding-top: 14px;
    padding-left: 15px!important;
    padding-right: 5px!important;
    width: 43px !important;
  }
}