@import "src/common";

.containerPage{
  max-width: 1128px;
  margin: 0 auto;
  width: 100%;
}
.block{
  background: white;
  border: 1px solid $border;
  border-radius: 10px;
  overflow: hidden;
}
.pageTitle{
  padding: 12px 0;
}
.content{
  padding: 60px 0;
  @media (max-width: 767.9px) {
    padding: 43px 0;
  }
}
.grid{
  display: flex;
  @media (max-width: 1439.9px) {
    flex-wrap: wrap;
  }
}
.titleRowNotifications{
  @media (max-width: 767.9px) {
    margin-bottom: 40px;
  }
}
.buttonWrap{
  @media (max-width: 1439.9px) and (min-width: 768px) {
    display: none;
  }
  @media (max-width: 767.9px) {
    max-width: 168px
  }
}
.mobileButtonWrap{
  display: none;
  @media (max-width: 1439.9px) and (min-width: 768px) {
    display: block;
    & button{
      width: 48px!important;
    }
  }
}

.col1{
  flex-basis: calc(67% - 12px);
  width: calc(67% - 12px);
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 24px;
  @media (max-width: 1023.9px) {
    flex-basis: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
.col2 {
  flex-basis: calc(33% - 12px);
  width: calc(33% - 12px);
  flex-grow: 0;
  flex-shrink: 0;
  @media (max-width: 1023.9px) {
    flex-basis: 100%;
    width: 100%;
    display: flex;
   /* justify-content: space-between;
    align-items: flex-start;
    & .block {
      flex-basis: calc(50% - 16px);
      width: calc(50% - 16px);
      margin-bottom: 0;
    }*/
  }
}
.elem {
  margin-bottom: 8px;
  padding: 16px 24px;
  &:last-child{
    margin-bottom: 0px;
  }
}
.elemIsNew{
  margin-left: 16px;
}
.elemLeft{
  display: flex;
  align-items: center;
}
.elemNew{
  background: $inpBg;
  & .elemTitle{
    color: $text;
  }
}
.elemRight{
  &:hover{
    cursor: pointer;
  }
}
.elemTopRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}

.elemDate{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: $text
}
.elemTitle{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: $textSecondary;
  margin-bottom: 13px;
  max-width: 528px;
}
.elemText{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text;
  max-width: 528px;
}

.blockCustom{
  padding: 8px 0 16px 0;
  @media (max-width: 1439.9px){
    width: 100%
  }
}

.blockHeader{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: $textSecondary;
  padding: 24px;
  border-bottom: 1px solid $border;
  margin-bottom: 24px;
}
.blockRow{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 8px 24px;
}
.blockRowLeft{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: $textTh;
}

.blockRowRight{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: $textSecondary;
}

.blockTitle{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: $textSecondary;
  padding: 16px 24px 24px 24px;
  border-bottom: 1px solid $border;
  margin-bottom: 12px;
}

.pagination{
  margin-top: 16px;
}