.footer {
  display: flex;
  @media (max-width: 374.9px) {
    & button {
      width: 115px;
    }
  }
}
.wrapBtn1 {
  margin-right: 24px;
  @media (max-width: 374.9px) {
    margin-right: 10px;
    /*order: 2;*/
    /*margin-top: 15px;*/
  }
}

.item {
  margin-bottom: 24px;
}
.item:last-child {
  margin-bottom: 0;
}
.wrap {
  max-width: 480px;
}
