@import "src/common";

.footer {
  display: flex;
  & .wrapBtn:last-child {
    margin-right: 0;
  }
  @media (max-width: 374.9px) {
    & .wrapBtn:first-child {
      margin-right: 10px;
    }
  }
}
.wrapBtn {
  margin-right: 24px;
  @media (max-width: 374.9px) {
    & button {
      width: 115px;
    }
  }
}
.text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $textSecondary;
}
.warning {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $accent;
}

.objectList {
  display: flex;
  flex-direction: column;
}

.wrap {
  max-width: 480px;
}
