@import "src/common";

.input{
  resize: none;
  width: 100%;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  height: 180px;
  padding: 24px;
  color: $text;
  border: 1px solid $border;
  border-radius: 5px;
  transition: all 0.2s linear;
  background: $bgInput;
  @include placeholder ();

  &:disabled{
    background: $bgInput !important;
  }
}

.container{

}
.containerRow{
  display: flex;
}

.inputError{
  border: 1px solid $error;
}
.inputSuccess{
}
.inputDisabled{
  background:  $bgInput;
}
.error{
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
}
.errorText{
  color: $error;
  font-size: 12px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

.errIcon{
  margin-right: 8px;
}
